/* ================СТИЛИ КАТЕГОРИИ================ */
section.categories {
  width: 100%;
  background-color: #fff;
}
section.categories h1 {
  width: 100%;
  text-align: left;
  font-size: 32px;
  color: #3c3f48;
  margin-top: 15px;
  margin-bottom: 50px;
  font-weight: 700;
}

.categories__sidebar {
  padding-left: 0;
  padding-right: 20px;
}
.categories__block-list {
  width: 100%;
  padding-left: 0;
  cursor: pointer;
  margin-bottom:40px;
}
.categories__block-list>li {
  font-size: 15px;
  color: #3c3f48;
  width: 100%;
  padding: 10px 0;
}
.categories__block-list>li:first-child {
  padding-top: 0;
}
.categories__block-list>li.active {
  font-weight: 600;
}
.categories__block-list>li:hover {
  color: #cc958f;
}
.categories__block-list>li.active:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  background:url(../img/arrow_dark.png) center center no-repeat;
  float: right;
  margin-top: 5px;
}
.categories__block-list>li.active:hover {
  color: #3c3f48;
}
.categories__submenu-list {
  padding-left: 30px;
  padding-top: 15px;
}
.categories__submenu-list>li {
  font-size: 13px;
  padding: 8px 0;
}
.categories__block-list>li:hover>.categories__submenu-list>li {
  color: #3c3f48;
}
.categories__block-list>li>.categories__submenu-list>li:hover {
  color: #cc958f;
}
.categories__submenu-list>li.active {
  font-weight: 600;
}
.categories__submenu-list>li.active:after {
 content: '';
  display: block;
  width: 4px;
  height: 8px;
  background:url(../img/arrow_dark.png) center center no-repeat;
  float: right;
  margin-top: 5px;
}
.category__sidebar-block {
  width: 100%;
}
.sidebar__block-title {
  width: 100%;
  height: 50px;
  background-color: #f7f4f1;
  color: #3c3f48;
  line-height: 50px;
  font-size: 15px;
  padding-left: 20px;
}
.sidebar__block-body {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}
.price__range-line {
  width: 100%;
  margin-bottom: 25px;
}
.price__range-line>input {
  width: 100%;
}
.irs--flat .irs-min, .irs--flat .irs-max,
.irs--flat .irs-from, .irs--flat .irs-to, 
.irs--flat .irs-single {
  display: none;
}
.irs--flat {
  height: 20px;
}
.irs--flat .irs-line {
  height: 2px;
  background-color: #e9e6e2;
  top: 7px;
}
.irs--flat .irs-bar {
  height: 2px;
  top: 7px; 
  background-color: #e3a69f;
}
.irs--flat .irs-handle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #e3a69f;
  top: 1px;
  cursor: pointer;
}
.irs--flat .irs-handle>i:first-child{
  display: none;
}
.price__input-wrap {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price__input-wrap>input {
  width: 125px;
  border:1px solid #e9e6e2;
  color: #3c3f48;
  padding-left: 15px;
}
.price__input-wrap>span {
  font-size: 18px;
  color: #3c3f48;
  margin: 0 20px;
}

.brands__input-wrap {
  width: 100%;
  max-height: 390px;
  overflow-y: auto;
}
.brands__input-wrap::-webkit-scrollbar {
  width:6px;
  background-color: transparent;
} 
.brands__input-wrap::-webkit-scrollbar-button {
  display: none;
}
.brands__input-wrap::-webkit-scrollbar-track {
  width: 4px;
  background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 0%, #fffcfc 25%, #f7f4f1 25.1%, #f7f4f1 74.9%, #fffcfc 75%, #ffffff 100%);
background: -webkit-linear-gradient(left, #ffffff 0%,#fffcfc 25%,#f7f4f1 25.1%,#f7f4f1 74.9%,#fffcfc 75%,#ffffff 100%);
background: linear-gradient(to right, #ffffff 0%,#fffcfc 25%,#f7f4f1 25.1%,#f7f4f1 74.9%,#fffcfc 75%,#ffffff 100%);
}
.brands__input-wrap::-webkit-scrollbar-thumb {
  border: none;
  box-shadow: none;
  background-color: #e3a69f;
  width: 6px;
}
.brands__input-item {
  width: 100%;
}
.brands__input-item>label {
  width: 100%;
  font-size: 15px;
  color: #3c3f48;
  padding: 10px 0 10px 40px;
  position: relative;
  cursor: pointer;
}
.brands__input-item>label:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #e9e6e2;
}
.brands__input-item input:checked + label:before {
  background:url(../img/checkbox-checked.png) center center no-repeat;
  background-size: 80%;
}

.avalaibility__input-wrap {
  width: 100%;
}
.avalaibility__input-item {
  width: 100%;
}
.avalaibility__input-item>label {
  width: 100%;
  font-size: 15px;
  color: #3c3f48;
  padding: 10px 0 10px 40px;
  position: relative;
  cursor: pointer;
}
.avalaibility__input-item>label:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #e9e6e2;
}
.avalaibility__input-item input:checked + label:before {
  background:url(../img/radio_checked.png) center center no-repeat;
  background-size:100%;
}

.color__input-wrap, .color__input-row {
  width: 100%;
}
.color__input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 35px;
}
.color__input-row:last-child {
  margin-bottom: 0;
}
.color__input-item>label {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.color__input-item>label[for="white"] {
  border:1px solid #eae7e3;
  width: 27px;
  height: 27px;
}
.color__input-item>input:checked + label:before {
  position: absolute;
  content: '';
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border:1px solid #eae7e3;  
  left: -6px;
  top: -6px;
}


.categories__content {
  padding-right: 0;
  padding-left: 20px;
  padding-bottom: 60px;
}
.content__topbar-wrap {
  width: 100%;
  height: 50px;
  background-color: #f7f4f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 20px;
}
.content__topbar-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.content__topbar-block:last-child {
  justify-content: flex-end;
}
.content__topbar-block>span:first-child {
  font-size: 13px;
  color: #b9aa9b;
  margin-right: 20px;
}
.content__topbar-block>span {
  position: relative;
  height: 100%;
  display: inline-block;
  line-height: 50px;  
  margin-right: 20px;
}
.content__topbar-block>span>a {
  font-size: 13px;
  color: #313131;
}
.content__topbar-block>span:last-child {
  margin-right: 0;
}
.content__topbar-block>span>span {
  display: inline-block;
  width: 4px;
  height: 8px;
  transform: rotateZ(90deg);
  background:url(../img/arrow_dark.png) center center no-repeat;
  background-size: 100%;
  margin-left: 7px;
}
.content__topbar-block>span:hover>span {
  background:url(../img/arrow_pink.png);
}
.content__topbar-block>span:hover>a {
  color: #cc958f;
}
.content__topbar-block>span.active>a {
  color: #cc958f;
}
.content__topbar-block>span.active>span {
  background:url(../img/arrow_pink.png);
}
.content__topbar-block>span ul {
  display: none;
  width: 150px;
  padding: 10px 0;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 0;
  transform: translateX(-35%);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(200,200,200,0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(200,200,200,0.5);
  box-shadow: 0px 3px 5px 0px rgba(200,200,200,0.5);
}
.content__topbar-block>span ul>li {
  padding: 10px 20px;
  width: 100%;
  height: auto;
  line-height: 1;
}
.content__topbar-block>span ul>li>a {
  font-size: 13px;
  color: #313131;
}
.content__topbar-block>span ul>li>a:hover {
  color: #cc958f;
}
.content__topbar-block>span:hover ul {
  display: block;
}

.content__body-wrap {
  padding-top: 60px;
}
.card {
  border:none;
  padding: 0 20px;
  position: relative;
  margin-bottom: 50px;
}
.card-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  height: 200px;
}
.card-title {
  font-size: 15px;
  text-align: center;
}
.popular__slider-wrap .owl-dot,
.new__slider-wrap .owl-dot {
  background-color: #e1e3e6;
}
.popular__slider-wrap .owl-dots,
.new__slider-wrap .owl-dots {
  bottom: -60px;
  top:auto;
  position: absolute;
  width: 100%;
  text-align: center;
  height: auto;
}

.card-body button {
  display: block;
  background-color: #cc958f;
  border: none;
  color: #fff;
  text-transform:uppercase;
  font-size: 14px;
  width: 180px;
  height: 40px;
  margin-left:auto;
  margin-right: auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: .2s all linear;
}
.card-body button:hover {
  box-shadow: 0 0 10px rgba(229,159,151,.8);
  transform:translateX(-50%) scale(1.03);
}
.card-price {
  width: 100%;
  text-align:center;
  bottom: 60px;
  position: absolute;
  left: 0;
  height: 50px;
}
.card__price-actual {
  font-size: 24px;
  color: #3c3f48;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:translateX(-50%);
}
.card__price-prev {
  color: #bdbfc2;
  font-size: 14px;
  text-decoration: line-through;
  position: absolute;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
}
.card__action {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #e3a69f;
  position: absolute;
  top: 0;
  left: 30px;
  text-align:center;
  line-height: 45px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.content__pagination-wrap {
  width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 20px;
}
.page-item {
  margin: 0 5px;
}
.page-link {
  font-size: 15px;
  color: #313131;
  background-color: transparent;
  border:none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 25px;
}
.page-link.active {
  color:#e7c8bb;
  background-color: transparent;
  border:1px solid #e7c8bb;
}
.page-link:hover {
  color:#e7c8bb;
  background-color: transparent;
}
.pagination__arrow-prev {
  background-image: url(../img/slider_prev-grey.png);
  background-position: center center;
  background-size: 100% auto;
  height: 30px;
  width: 10px;
  margin-right: 10px;
}
.pagination__arrow-next {
  background-image: url(../img/slider_prev-grey.png);
  background-position: center center;
  background-size: 100% auto;
  transform: rotateZ(180deg);
  height: 30px;
  width: 10px;
  margin-left: 10px;
}
ul.pagination {
  align-items: center;
  margin: 0;
}
.pagination__arrow-prev:hover,
.pagination__arrow-next:hover {
  background-image: url(../img/slider_prev-pink.png);
}



section.description {
  width: 100%;
  padding: 50px 0 80px 0;
  border-top: 2px solid #e9e6e2;
  background-color: #fff;
}
section.description p {
  margin: 15px 0;
  padding: 0;
  font-size: 13px;
  color: #3c3f48;
  width: 100%;
}
section.description ul {
  padding: 0;
  margin: 15px 0;
  width: 100%;
}
section.description ul>li {
  width: 100%;
  position: relative;
  font-size: 13px;
  color: #3c3f48;
  padding-left:40px;
}
section.description ul>li:before {
  content: '';
  position: absolute;
  left: 20px;
  top: 7px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius:50%;
  background-color: #cc958f;
}
section.description ol {
  padding-left: 40px;
  width: 100%;
  list-style: none;
  counter-reset: myCounter;
}
section.description ol>li {
  width: 100%;
  position: relative;
  font-size: 13px;
  color: #3c3f48;
}
section.description ol>li:before {
  content: counter(myCounter);
  counter-increment: myCounter;
  position: absolute;
  top: 0px;
  left: -20px;
  color: #cc958f;
}